/*
 * Variables
 */

/*
 * Collapsable Header
 */
.collapsable-header {
  position: absolute;
  height: 30px;
  width: 100%; 
  background: grey;
  z-index: 30;
}
.collapsable-main{
  position: absolute;
  width: 100%; 
  top: 30px;
  bottom: 0px;
}
@mixin circle {
  position:absolute;
}
@mixin code-mirror-circle {
  height:20px;
  right:4px;
  top:4px;
  line-height:20px;
  display:inline-block;
  font-size:12px;
  
  text-align:center;
  
  background-color:#FFFFFF;
  color:#777777;
  opacity: 1;
  -moz-transition: all 0.4s ease-in-out;  /* FF4+ */
  -o-transition: all 0.4s ease-out;  /* Opera 10.5+ */
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.code-mirror-window-label {
  @include code-mirror-circle;
  text-align:center;
  //padding:0 22px 0 6px;
  padding: 0 6px 0 6px;
  border-radius: 1px;
  
  border-style: solid;
  border-color: #F1F1F1;
  z-index:25;
}
.editor-layout-boxi .icon-record{
  @include circle;
  padding: 0 6px;  
  font-size: 10px;

  z-index: 45;
  cursor: pointer;
  background: transparent;
  color: gray;
}
.code-mirror-icon-record {
  @include code-mirror-circle;
  content: "\f189";
  padding: 0 6px;
  z-index: 45;
  cursor: pointer;
  background: transparent;
  font-size: 10px;
  color: #B3B3B3;
}
.code-mirror-header {
 position: absolute;
 height: 30px;
 width: 100%; 
 background: grey;
 z-index: 30;
}
