.CodeMirror {
	height: 100% !important;
}
.CodeMirror-foldmarker {
	color: blue;
	text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px, #b9f -1px 1px 2px;
	line-height: .3;
	cursor: pointer;
}
.CodeMirror-focused .cm-matchhighlight {
	text-decoration: underline;
}
.CodeMirror-foldgutter {
	width: .7em;
}
.CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded {
	color: #555;
	cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
	content: "\25BE";
}
.CodeMirror-foldgutter-folded:after {
	content: "\25B8";
}